body {
    background-image: url("Images/galaxy.jpg");
    background-size: cover;
}

table {
  width: 90%;
  height: 600px;
  border: 1px solid grey;
  border-collapse: collapse;
  font-family: Roboto;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: 'Roboto' , serif;
  color : white;
  font-weight:bold;
  text-align: center;
  font-size: 50px;
}
h2 {
  font-family: 'Abel' , sans-serif;
  color: white;
  font-weight:bold;
  text-align: center;
  font-size: 30px;
}
.planet {
  background-color: rgba(106,105,105,0.8);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
}
th {
  font-family: 'Lato' , sans-serif;  
  background-color: rgba(106,105,105,0.8);
  border: 1px solid black;
  font-size: 15px;
  height: 60px;
  text-align: center;
}
td {
  font-family: 'Lato' , sans-serif;
  background-color: rgba(112,128,144,0.8);
  border: 1px solid black;
  font-size: 17px;
  color: black;
  font-weight: normal;
  text-align: center;
}

tr {
  border: 1px solid gray;
}
