body {
    background-image: url("Images/milky-way-galaxy.jpg");
    background-size: cover;
}

table {
  width: 90%;
  height: 350px;
  border: 1px solid grey;
  border-collapse: collapse;
  font-family: Roboto;
  margin-left: auto;
  margin-right: auto;
}
